.layout {
    border: 1px solid #d7dde4;
    background: #f5f7f9;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}
.layout-logo {
    width: 100px;
    height: 30px;
    background: #5b6270;
    border-radius: 3px;
    float: left;
    position: relative;
    top: 15px;
    left: 20px;
}
.ivu-layout {
    position: relative;
    z-index: 1;
}
.layout-nav {
    float: right;
}
.layout-breadcrumb {
    margin: 14px 0;
}
.layout-footer {
    margin: 0 -24px;
    background: #fff;
    text-align: right;
}
.page > .ivu-menu-horizontal {
    margin-bottom: 12px;
}
